body {
  font-family: 'Unica One', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover, a:visited, a:link, a:active {
    color: inherit;
    text-decoration: none!important;
    box-shadow: none!important;
}
.city-container{
    background-color: rgba(241, 235, 235, .3);
}
.recent-city {
    cursor: pointer;
}
.forecast-container div{
    margin: 10px;
}
.forecast-container{
    margin: 0 auto;
}
.low {
    background-color: rgb(27, 133, 27);
}
.mod {
    background-color: rgb(223, 223, 47);
}
.high {
    background-color: rgb(235, 140, 15);
}
.very-high {
    background-color: rgb(128, 12, 12);
    color: white;
}
.extreme {
    background-color: rgb(82, 28, 133);
    color: white;
}
